.images-containter {
	height: 400px;
}

.booked-images-wrapper {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgb(201, 196, 196);
}

img.images-booked {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.5s;
}

img.images-booked.active {
	opacity: 1;
}
button.button-images {
	width: 150px;
	padding: 0;
}

img.images-button-item {
	padding: 0;
	width: 100%;
	height: 100%;
}

.payments {
	height: 100%;
}

@media only screen and (max-width: 980px) {
	.payments {
		margin-top: 40px !important;
	}
}
@media only screen and (max-width: 768px) {
	.images-containter {
		height: 250px;
	}
	.payments {
		margin-top: 40px !important;
	}
}
