.booking-wrapper {
	color: white;
	background-color: black;
	height: 100%;
	opacity: 0.5;
	border-radius: 0 0 20px 20px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
}

.booking-text {
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: white;
}
