.sidebar-wrapper {
	width: 100%;
	height: 100%;
	gap: 30px;
	display: flex;
	justify-content: flex-start;
	padding: 60px 30px;
	align-items: center;
	flex-direction: column;
	background-color: rgb(236, 236, 236);
	border-right: 1px solid gray;
	transition: all 0.5s;
}
.custom-switch {
	transition: all 0.5s;
}

.filtering {
	width: 100%;
}

.form-check {
	width: 100%;
}

.form-check-label,
.form-check-input {
	cursor: pointer;
}
.form-group {
	width: 100%;
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.main-price {
	margin-top: 40px;
	width: 100%;
}

.stars-span {
	cursor: pointer;
	padding: 3px;
}

.main-rating {
	margin-top: 20px;
	width: 100%;
}
