a.a-link {
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.7s;
}

a.a-link:hover {
	/* background-color: rgb(234, 231, 231); */
	box-shadow: 0 2px 8px 1px rgb(118, 116, 116);
}

.logos {
	margin: 30px 0 0 70px;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 900px) {
	.footer-container {
		margin-top: 40px !important;
	}
	.footers-item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
